body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
	text-align: center;

}

header {
    background: #28a745;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 24px;
	margin-bottom: 20px;
}

}

nav {
    background: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    padding: 6px 12px;
    background: #007bff;
    color: white;
    border-radius: 5px;
    transition: 0.3s;

}

nav a:hover {
    background: #575757;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 5px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 70vw;
}

button {
			background: #28a745;
            color: white;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            border-radius: 5px;
		}

button:hover {
    background: #f1f1f1;
}

.table {
	width: 80%;
	max-width:600px;
    margin: auto;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    overflow: hidden;
	
	
}
.table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.table th {
    background: #28a745;
    color: white;
	  padding: 12px;
	  text-transform: uppercase;

	   
}
td a {
    text-decoration: none;
    background: #28a745;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    display: inline-block;
}

td a:hover {
    background: #218838;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type="text"] {
            width: 80%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
form {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
			height:200px;
            margin: auto;
        }

